@import '../../index.scss';

//Icons styles in the Home section

.title-container{

    .icons-container{
        position:  absolute;
        width: 50%;
        bottom: 100px;
        
        //media queries
        @media only screen and (min-width:1500px){
            position:static;
            width: 100%;
            margin:0;
            @include flex(display, flex);
            @include flex(justify-content, space-between);
            @include flex(align-items, center);
        }
        
        @include medium {
            display: none;
        }//media queries
        
        a {
            i{
                padding:3%;
                font-size: 1.4rem;
                color:$secondary-color;
                &:hover{
                    transform: scale(1.2);
                    transition: transform 0.3s linear;
                }
            }
        }
    }
}

//Icons styles in the Contacts section

.info-wrap {

    .icons-container{
        
        @include flex(display, flex);
        @include flex(justify-content, space-between);
        
        
        margin:$margin-lg-screens;
        margin-top:50px;

        
        a{
            outline: 0 0 1px  white;
            margin-right: 15%;
            font-size:3rem;
            color:white !important;
            &:hover{
                transform: scale(1.2);
                transition: all 0.2s;
            }
            
            @for $i from 1 through 5 {
                &:nth-child(#{$i}){
                    animation:shake 1s linear #{$i}s;
                }    
            }

            @include break(1200px) {
                font-size: 2.4rem;
            }
            
            @include medium {
                margin-right: 0;
            }

            
        }//a
        
    }//icons-container
}