
//stop displaying an element
.hidden{
  display:none !important;
}

.hide {
  max-height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  color:transparent;
  span {
    color:transparent !important;
  }
  h3 {
    color:transparent !important;
  }
}

.turn90 {
  transform:rotate(90deg);
  transform-origin: center;
  transition: transform 0.2s linear;
}