@import '../../index.scss';

.container-switch {
    position: fixed;
    top:20;
    left:20;
    z-index:11;
    // padding-left: 60px;
    display:flex;
    align-items:center;

    @include medium {
      top: auto;
      right:auto;
      bottom:20;
      left:20;
    }

    @include small {
        top: 10;
        left:auto;
        right: 50;
        bottom:auto;
    }

  }
  
  .switch  {
    position:relative;
    width:44px;
    height:20px;
  }
  
  .switch input {
    opacity:0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    // border:1px solid white;
    // background-color: orange;
    background-color:white;
    border:1px solid orange;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 1px;
    // background-color: white;
    background-color:orange;

    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(100%);
    background-color:orange;
  }
  
  .switch input:checked + .slider {
    background-color:white;
    border:1px solid orange;
  }
  
  .lang-container {
    font-family: Avenir;
    font-size: 20px;
    margin-left: 10px;
  }