@import '../../../index.scss';
.form-wrap {

  @include flex(display, flex);
  @include flex(flex-direction, column);
  @include flex(justify-content, space-between);
  @include flex(align-items, space-between);

  width: 45%;
  height: auto;

  //media queries
  @include break(1100px){
    width:60%;
  }
  @include medium {
    width: 90%;
    @include flex(align-self, center);
  }//media queries
  
  form {
    @include flex(display,flex);
    @include flex(flex-direction, column);
    @include flex(justify-content, center);
  }
  
  h3 {
    color:white;
    margin:2%;
    margin-top:30px;
    font-size: 1.3rem;
    @include flex(align-self, flex-start);
  }
  
  .form-section {
    padding:2%;
    font-size: 0.9rem;
    color:white;
    input {
      font-size: 0.9rem;
      width:90%;
      height:40px;
      border:none;
      padding-left: 10px;
      @include medium {
        width:100%;
        height:30px;
      }
    }
    textarea {
      font-size: 0.9rem;
      width: 90%;
      height:200px;
      border:none;
      padding:10px;
      @include medium {
        width:100%;
      }
    }
    label {
      margin-left: 10px;
    }
  }
  
  [type="submit"] {
    width:100px;
    margin:2%;
    margin-bottom:30px;
    padding: 1%;
    font-size: 1rem;
    color:white;
    background: lighten($secondary-color, 20%);
    transition:background 0.2s linear 0;
    border: none;
    // @include flex(align-self, center);
    &:hover {
      cursor: pointer;
      color:$secondary_color;
      background:white;
      transition:background 0.2s linear 0;
    }
  }
}
  