//=-=-=-=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-
//      CONTACTS Section styles
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---=-=-=-=-=--=--=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=

@import '../../index.scss'; 

.contact {

  margin:3%;
  @include flex(display, flex);
  @include flex(flex-direction, column);

  @include break(1100px){
    @include flex(flex-direction, column);
    @include flex(justify-content, flex-start);
  }

  h1 {
    margin: $margin-lg-screens;
  }

  p{
    margin:$margin-lg-screens;
    font-size: 1.5rem;
  }
  .info-wrap{
    
    background: $secondary-color;
    border-radius: 10px;

    @include flex(display, flex);
    @include flex(flex-direction, row);
    
    @include medium {
      @include flex(flex-direction, column);
    }

    .info-container{
      width: 50%;
      @include medium {
        width: 90%;
        @include flex(align-self, center);
      }
      padding:5%;

      p{
        color:white;
      }

      .icons-container{
    
        @include flex(display, flex);
        @include flex(justify-content, space-between);

    
        margin:$margin-lg-screens;
        margin-top:50px;
        
        a{
          margin-right: 15%;
          font-size:3rem;
          color:white !important;
          &:hover{
            transform: scale(1.2);
            transition: all 0.2s;
          }

          @include break(1200px) {
            font-size: 2.4rem;
          }

          @include medium {
            margin-right: 0;
          }
    
        }//a
    
      }//icons-container
    }
  }
}//.contacts
  