//=-=-=-=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-
//      CONTACTS Section styles
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---=-=-=-=-=--=--=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=

@import '../../index.scss'; 

.contact {

  margin:3%;
  @include flex(display, flex);
  @include flex(flex-direction, column);

  @include break(1100px){
    @include flex(flex-direction, column);
    @include flex(justify-content, flex-start);
  }

  h1 {
    margin: $margin-lg-screens;
  }

  p{
    margin:$margin-lg-screens;
    font-size: 1.5rem;
  }
  .info-wrap{
    
    background: $secondary-color;
    border-radius: 10px;

    @include flex(display, flex);
    @include flex(flex-direction, row);
    
    @include medium {
      @include flex(flex-direction, column);
    }

    .info-container{
      width: 50%;
      @include medium {
        width: 90%;
        @include flex(align-self, center);
      }
      padding:5%;

      p{
        color:white;
      }
    }

  }
}
  