@import '../../index.scss';

footer {
    width:100%;
    height: 30px;
    background:white;
    color:$secondary-color;
    font-size:1rem;

    @include flex(display, flex !important);
    @include flex(align-items, center);
    @include flex(justify-content, center);
    
    .react-logo {
      margin: 0 20px;
      color:darken($secondary-color, 10%);
      animation: rotate 5s linear infinite;
    }
}